* {
    box-sizing: border-box;
    /* background: black; */
}

 .wrapper{
    height: 100vh;
    display: grid;
    justify-items:center;
    align-items: center;
    background: #1C2A37;
    background: url('./yoda-background.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.yodaBox {
    height: auto;
    /* width: 340px; */
    background: #F0F0F2;
    border: 3px solid #4CB7EB;
    padding: 20px;
    display: grid;
    /* grid-template-columns: auto; */
    grid-template-columns: 1fr;
    justify-items: center;
    /* justify-content: center; */
    align-items: center;

}

.result {
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

.getYoda{
    background: #99BF7E; 
    color:black;
    border: none;
    border-radius: 5px;
    margin: 20px;
    padding: 5px;
}

.little-yoda {
    display: none;
}




@media (min-width: 320px) and (max-width: 480px) {
  
    .wrapper {
        height: 800px;
        display: grid;
        grid-template-columns: 1fr;
       
    }


    .yodaBox {
        height: 200px;
        margin: 20px;
        grid-template-columns: 1fr;
    
    }

    img.little-yoda {
        height: 100px;
        display:block;
        margin: 60px
    }
  
    
  }